.row {
    justify-content: space-between;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        background: #161a1e;
    }

    .nav-link.active {
        background: #1967fc;
    }

    .col-1 {
        position: fixed;
        left: 0;
        top: 0;
        padding: 0;
    }
}
